/* Padrão */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Amatic SC E Nanum Myeongjo */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nanum+Myeongjo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');




::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track{
    background-color: #a1000000;
    /* background-image:url('../img/scroll2.png'); */
    border: 1px solid #5151518c; 
}

::-webkit-scrollbar-thumb{
    background-color: #312c2c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #504646;
    border-radius: 10px;
}

::-webkit-scrollbar-button{
    background-image:url('../img/btnScrollBlack.png'); 
    height: 9px;
    background-size: 100%;
    background-repeat: no-repeat;
}
::-webkit-scrollbar-button:hover{
    background-image:url('../img/btnScrollBlackRed.png');
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #312c2c;
    border-top: 2px solid #555;
}

.foot-txt p, .dev-contact{
    font-size: 1.5rem;
}

.foot-icon-home a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    background: white;
    border-radius: .8rem;
}

.foot-icon-home a i{
    font-size: 2rem;
    color: var(--segunda-bg-color);
}

.foot-icon-home a:hover{
    background: var(--texto-color);
    transition: .9s;
    transform: rotate(360deg);
}



/*reset*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-size: cover; 
}

*::selection{
    color:black;
    background: red;
}

.footer-author-email, .dev-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.footer-author-email:hover, .dev-link:hover{
    color: red;
}

.dev-name{

font-size: 1.6rem;

}

.conteiner-social{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


.bxs-book-open{
        font-size: 2.0rem;
        color: var(--texto-color);
        margin-left: 3rem;
}


.navbar i:hover,
.navbar i.ativa{
    color: var(--main-color);
}

.bx-question-mark{
    animation: skew 1.5s infinite;
}





.about-author{
    background-image: url('../img/bk-author.png');
    border-top: 3px solid #3c3c3c;
    border-top-style: dashed;
    padding: 10rem 5% 2rem;
}

.about-author-div{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
    
} 

.author-img{
    width: 40vw;
}

.author-text-section{
    padding: 50px 1px 50px 50px;
    font-size: 20px;
}

.author-text-section h1{
    padding-bottom: 5px;

    color: red;
}



.author-text-section span {
	font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 48px;
    float: left;
    margin-left: 0px;
}




.author-text-section p {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-play-state: paused;
}
  
/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 22:5:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.author-social{
    font-size: 4rem;
    margin-top: 10px;
    color: #a10000;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    
}

.author-social a{
    color: #a10000;
}

.author-social i{
    margin-left: 10px;
}

.author-social i:hover{
    color: white;
    transform: scale(1.2);
    transition: .3s;
}



.titleCont{
    animation: tv 1.5s infinite;
}
.titleCont h1, .titleCont span{
    font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
}

@keyframes tv {
0% {
    
    transform: none;
}

44% {
    
    transform: none;
}
44.3% {
    
    transform: skewX(20deg);
}
44.6% {
    
    transform: skewX(-20deg);
}
44.9% {
   
    transform: none;
}
70% {
    
    transform: none;
}
70.3% {
    
    transform: skewX(10deg);
}
70.6% {
    
    transform: skewX(-10deg);
}
70.9% {
   
    transform: none;
}
82% {
    
    transform: skewX(117deg);
}
82.1% {
    
    transform: skewX(-50deg);
}
82.6%{
    transform: none;
}

92% {
 
    transform: none;
}
92.3% {
    
    transform: skewX(20deg);
}
92.4% {
    
    transform: skewX(-20deg);
}
92.9% {
    
    transform: none;
}
}






.loadPage {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    flex-direction: column;
    color: #ffffff;
    /* position: fixed;
    top: 0;
    left: 0; */
    pointer-events: all;
    font-size: 2.5rem;
}

.loadPage {
    animation: loadPage 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

#loadingGif{
    width: 56rem;
}



@keyframes loadPage {
    0% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1;
    }
}



/* ----------------------------------------------
 * Generated by Animista on 2023-7-6 20:8:38*/
 .conteiner-social {
	animation: conteiner-social 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-play-state: paused;
}
 @keyframes conteiner-social {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1;
    }
  }



.conteiner-social i{
    font-size: 5rem;
    color: red;
}

.conteiner-social img{
    background: red;
    border-radius: 12px;
}
.conteiner-social img:hover{
    background-color: white;
    transform: scale(1.2);
    /* transition: .3s; */
    transition: .1s;
}

.conteiner-social i:hover{
    color: white;
    transform: scale(1.2);
    /* transition: .3s; */
    transition: .1s;
}


.home-site{
    padding: 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-color: var(--segunda-bg-color);
    
}



.text-about-site{
    box-shadow: 1px 0px 100px 20px rgb(0 0 0 / 50%), inset 1px 1px 27px 999px rgb(0 0 0 / 50%);
    margin-top: 2rem;
}

.text-main{
    font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 48px;
    margin-left: 3rem;
}

.text-about-site span{
    font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 48px;
    float: left;
    margin-left: 0px;
}



.main-content {
    overflow:hidden;
      position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      
      height: 100vh;
      color: #fff;
      text-align: center;
      background: linear-gradient(to top,rgba(1,1,1,1),  rgba(0,0,0,0), rgba(1,1,1,1));
  }
  
  .vignette{
    position:absolute;
    width:100%; height:100%;
    box-shadow:inset 0px 0px 150px 20px black;
    mix-blend-mode: soft-light;
    -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
    -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
    -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
    animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
    background-image: url('../img/static-tv.gif');
    background-size: 500px;
  }
  
  .titleCont{position:relative;}
  
  .main-title {
      padding: .3em 1em .25em;    
      font-weight: 400;
      font-size: 40px;
      color: white;
      font-family: 'Poppins', sans-serif;
      position:relative;
      line-height:1.3;
  }
  
  
  @-webkit-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-moz-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-o-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }

.c,.d{
    font-size: 16px;
    z-index: 1000;
    position: absolute;
    top: 3092px;
}
.c{
    top: 2502px
}


  b, .c, .d, .outra{
    height: 110vh;
  }

  b{
    background-color: #000000;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50vh;
      background-position: bottom;
      display: flex;
      align-content: space-around;
      align-items: center;
      overflow: hidden;
  
  }
  .b img{
    width: 100%;
    scale: .5;
  }
  .c{
    background-color:rgba(0, 0, 0, 0) ;
  }
  .d{
    background-color: rgba(0, 0, 0, 0);
  }

.youtube-container-section{
    background-image: url(../img/bk-tulip.png); 
    height: 2724px;
    padding: inherit;
    
}
.youtube-container{
    background: linear-gradient(to top,rgba(1,1,1,1), rgba(0,0,0,0), rgba(1,1,1,1));
    height: 2724px;
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.social-class{
    background-image: url(../img/bk-social.gif);
    display: flex;
    align-content: center;
    flex-wrap: wrap;

} 

.c p,.d p{
    font-family: 'Poppins', sans-serif;
    margin: 7rem;
    margin-top: 1rem;
    font-size: 2.3rem;
}

.c h1{
    box-shadow: 1px 0px 100px 20px rgb(0 0 0 / 50%), inset 1px 1px 27px 999px rgb(0 0 0 / 50%);
}


.store{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.store video{
    width: 41rem
}
.back-store video{
    width: 100vw;
}
.conteiner-store{
    display: flex;
    height: 36vh;
    width: 69vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem;
    font-size: 1.8rem;
}

.book-img-store{
    pointer-events: none;
}

.conteiner-store h1{
    background: #000000fc;
}
.conteiner-store a{
    box-shadow: 0 0 8rem var(--main-color);
}

.conteiner-store span{
    color: red;
    font-size: 3rem;
}


/* VOLTA */

:root{ 
    --bg-color: #1f242d;
    --segunda-bg-color: #323946;
    --texto-color: #fff;
    --main-color: #e00202;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    

}

body{
    background: black;
    color: var(--texto-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgb(23, 2, 2,);
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background: #00000057;  ;
}

.sociedade{
    height: 36px;
    display: flex ;
}



.navbar{
    align-items: center;
    display: flex;
    font-weight: 600;
}

.navbar a{
    font-size: 2.0rem;
    color: var(--texto-color);
    margin-left: 3rem;
}

.navbar a:hover,
.navbar a.ativa{
    color: var(--main-color);
}

.navbar.ativa{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


#menu-icons{
    font-size: 4.0rem;
    color: var(--texto-color);
    display: none;
}


span{
    color: var(--main-color);  
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3.0rem;
    background-color: #e20101;
    border-radius: 2rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    letter-spacing: .2rem;
    cursor: pointer;
}


.btn:hover{
    box-shadow: none;
}



.reset-section{
    padding: 0px;
}



/* RESPONSIVIDADE */


@media(max-width: 1200px){
    html{
        font-size: 55%;
    } 

}




@media (max-width: 960px) {
    .header{
        padding: 1.5rem 3%;
    }

    section{
        padding: 10rem 3% 1.5rem;
    }


    .conteiner-store{
        width: 77vh;
    }
    
}


@media (max-width: 840px){ 
    .store{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .conteiner-store{
        margin-bottom: 50px;
    }

    .about-author-div img{
        padding-top: 50px;
    }


    .about-author-div {
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }
    .author-text-section{
        padding: 50px 5px 50px 5px;
    }

}



@media (max-width: 750px) {
 /* ativando o menu icones*/
    #menu-icons{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar .ativa{
        display: block;
    }

 

    .main-title{
        font-size: 36px;
    }
}
@media (max-width: 610px){
    

    .main-title{
        font-size: 26px;
    }

    .conteiner-store{
        width: 95vw;
    }
}



@media (max-width: 426px){ 

    .conteiner-store{
        width: auto;
    }


    .youtube-container iframe{
        margin: 2rem;
    }
    


    .store video {
        width: 40rem;
    }


    .conteiner-store{
        font-size: 14px;
    }

    .conteiner-store span{
        font-size: 24px;
    }


    .conteiner-social {
        align-content: center;
        justify-content: space-evenly;
        height: 80vh;
        flex-direction: column;
    }


    .author-img {
        width: 54vw;
    }

    .author-text-section h1{
        font-size: 3.73rem;
    }

    .main-title {
        font-size: 3.73rem;
    }

    .c p, .d p{
        margin: 7rem 3rem;
    }
}

@media (max-width: 376px){ 

    .store video {
        width: 33rem;
    }

    .conteiner-store{
        font-size: 10px;
    }

    .conteiner-store span{
        font-size: 17px;
    }
    .author-text-section h1{
        font-size: 3.17rem;
    }
    .main-title {
        font-size: 3.177rem;
    }
}

@media (max-width: 320px){ 

    .youtube-container iframe{
        margin: 0rem;
        width: 95%;
    }

    
    
    .author-text-section h1{
        font-size: 2.97rem;
    }

    .main-title {
        font-size: 2.97rem;
    }
} 
@media (max-width: 301px){ 

    

    .store video {
        width: 32rem;
    }

    .conteiner-social{
        align-content: center;
        justify-content: space-evenly;
        height: 80vh;
        flex-direction: column;
    }


    .conteiner-store span {
        font-size: 18px;
    }

    .conteiner-store{
        font-size: 11px;
    }

    .author-text-section h1{
        font-size: 25px;
    }

    .main-title {
        font-size: 2.9rem;
    }
} 

#scratchs{
    
    font-size: 35px;
    background-image: url('../img/scratchs.gif');
    background-position: center;
    
    width: 90px;
    display: inline-flex;
    height: 55px;
    float: none;
}

html {
    overflow: hidden; 
}